header {
    height: 110svh;
    padding-top: 7rem;
    overflow: hidden;
    background-image: url(../../assets/background\ image.jpg);
}

.header_container {
    height: 100%;
    text-align: center;
    position: relative;
}

/* ****CTA styling**** */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* ****Headersocials styling**** */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}


.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*  ****Image styling****  */
.ed {
    background: linear-gradient(var(--color-primary), transparent);
    width: 20rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 20rem;
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/*  ****ScrollDown styling****  */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 3rem;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    
    50% {
      transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
      }
  }

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ed img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

/* media queries for tablets */
@media screen and (max-width:1024px) {
    header {
        height: 90vh;
    }

}

/* media queries for small devices */
@media screen and (max-width:600px) {
    header {
        height: 120vh;
    }
    .header_socials,
    .scroll__down {
        display: none;
    }
    .ed{
        width: 90%;
        height: 20rem;
    }

}